<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://172.18.5.127:3306/meetingroom</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
      <mapping class="com.sun.AdministratorEntity"/>
      <mapping resource="com/sun/AdministratorEntity.hbm.xml"/>
      <mapping resource="com/sun/AuditEntity.hbm.xml"/>
      <mapping class="com.sun.AuditEntity"/>
      <mapping resource="com/sun/DepartmentEntity.hbm.xml"/>
      <mapping class="com.sun.DepartmentEntity"/>
      <mapping class="com.sun.DepartmentRelationStaffEntity"/>
      <mapping resource="com/sun/DepartmentRelationStaffEntity.hbm.xml"/>
      <mapping resource="com/sun/EmployeeEntity.hbm.xml"/>
      <mapping class="com.sun.EmployeeEntity"/>
      <mapping resource="com/sun/EmployeeCopyEntity.hbm.xml"/>
      <mapping class="com.sun.EmployeeCopyEntity"/>
      <mapping class="com.sun.MeetingEntity"/>
      <mapping resource="com/sun/MeetingEntity.hbm.xml"/>
      <mapping resource="com/sun/MeetingRelationStaffEntity.hbm.xml"/>
      <mapping class="com.sun.MeetingRelationStaffEntity"/>
      <mapping resource="com/sun/MeetingRoomEntity.hbm.xml"/>
      <mapping class="com.sun.MeetingRoomEntity"/>
      <mapping resource="com/sun/UserEntity.hbm.xml"/>
      <mapping class="com.sun.UserEntity"/>
      <mapping class="com.sun.VisitNumEntity"/>
      <mapping resource="com/sun/VisitNumEntity.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>